html {
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
}

a:hover {
    color:tomato;
}

/* a:visited {
    color: white
}
*/

i {
    color:tomato;
}

body{
    width: 100%;
    background: url(SF.jpg) no-repeat;
    margin: 0%;
    background-size: cover;
    margin-top:20px;
}

#profile {
    width: 40%;
    background:rgba(0,0,0,0.6);
    padding: 5%;
    padding-bottom: 3%;
    margin: auto;
    color: white;
    text-align: center;
}
#profile-img {
    border-radius: 50%;
    width: 250px;
    height: 300px;
}

#navigation{
    width: 100%;
    height: 25px;
    background:darkred;
    display: flex;
    justify-content: space-around;
    position:absolute;
    top:0;
    letter-spacing: 0;
    padding-inline-start: 0;
    color: white;
    padding: 12.5px 0;
}

body li {
    list-style: none;
}

#about {
    width: 33%;
    background:rgba(0,0,0,0.6);
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
    margin-top: 2%;
    color: white;
    text-align: center;
}

#about ul li{
    display: inline-block;
    margin: 20px;
    font-size: large;
}

#about>p::first-letter{
    font-weight: bold;
    font-size:xx-large;
    color:tomato;
}

#contact {
    width: 33%;
    background:rgba(0,0,0,0.6);
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
    margin-top: 2%;
    color: white;
    text-align: center;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: .5px white;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  input[type=submit] {
      background-color: white;
      padding: 10px 30px;
  }
  
  input[type=submit]:hover{
      background-color: tomato;
      color: white;
  }

  form {
      padding: 10px;
      background-color: darkred;
  }





